<?php include('partials/header.html'); ?>
    <body class="dashboard">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="wrapper">
                <img src="public/images/fc3.jpg">
                <h1>Your account summary</h1>
            </div>
        </header>
        <section class="wrapper">
            <?php print_r($infos); ?>
            <?php //print_r($json); ?>
            <?php //print_r($lol); ?>
            <?php echo '<pre>'; print_r($openid); echo '</pre>' ?>
            <?php print_r($lolo) ?>
            <?php print_r($_SESSION['lolo']) ?>
            <h2>Hi, Fofoy</h2>
            <img src="public/images/user.jpg" alt="">
            <span>You have played a total of 2 months, 4 weeks, 3 days and 20 hours. <br>Guess what? That’s the time it takes to build a house.</span>
            <ul>
                <li>2001<p>You joined</p></li>
                <li><?php echo $count ?><p>Games owned</p></li>
                <li>10<p>Played games</p></li>
                <li>25<p>Friends</p></li>
                <li>1080<p>Achievements</p></li>
            </ul>
            <section>
                <a href="#">See your Steam Score<span>And view the points you have</span></a>
                <span>or</span>
                <a href="#">See your friends map<span>And compare your stats with them</span></a>
            </section>
        </section>
<?php include('partials/footer.html'); ?>