<?php include('partials/header.html'); ?>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <body class="dashboard">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <section class="summary">
            <header>
                <div class="wrapper">
                    <img src="public/images/fc3.jpg">
                    <h1>Your account summary</h1>
                </div>
            </header>
            <section class="wrapper">
                <h2>Hi, Fofoy</h2>
                <img src="public/images/user.jpg" alt="">
                <span>You have played a total of 2 months, 4 weeks, 3 days and 20 hours. <br>Guess what? That’s the time it takes to build a house.</span>
                <ul>
                    <li>2001<p>You joined</p></li>
                    <li>16<p>Games owned</p></li>
                    <li>10<p>Played games</p></li>
                    <li>25<p>Friends</p></li>
                    <li>1080<p>Achievements</p></li>
                </ul>
                <section>
                    <a href="#scoreboard">See your Steam Score<span>And view the points you have</span></a>
                    <span>or</span>
                    <a href="#scoreboard">See your friends map<span>And compare your stats with them</span></a>
                </section>
            </section>
        </section>
        <section class="map" id="map">
        </section>
        <section class="scoreboard">
            <h2>Scoreboard</h2>
            <ul id="players">
                <li>Skully</li>
                <li>Fofoy</li>
                <li>Réré</li>
                <li>Eshra</li>
                <li>Mush</li>
            </ul>
            <div>
                <div>
                    <p>4030 pts</p>
                    <img src="" alt="">
                    <div>
                        <p>2</p>
                    </div>
                    <p>Fofoy</p>
                </div>
                <div>
                    <p class="score">9999 pts</p>
                    <img src="" alt="">
                    <div>
                        <p>1</p>
                    </div>
                    <p>Skully</p>
                </div>
                <div>
                    <p>7 pts</p>
                    <img src="" alt="">
                    <div>
                        <p>3</p>
                    </div>
                    <p>Réré</p>
                </div>
            </div>
        </section>
        <section class="details">
             <h2>Details</h2>
             <div class="player_details">
                 <p>Skully</p>
                 <p>2020h Played</p>
                 <p>190 Games</p>
                 <p>1000 Achievements</p>
             </div>
        </section>
        <section class="score_game">
             <h2>Score per owned game</h2>
        </section>
<?php include('partials/footer.html'); ?>